body{
    background-color: #40E0D0;        
    height: 100%;
    display: flex;
    margin: 10% auto;
    align-items: center;
    justify-content: center;

}

.card h2 {
    text-align: center 
}

.card {    
    color: white;
    padding: 2em;
    background-color: #054A74;
    border-radius: 10px;
    border: 1px solid white;
    width: 80%
}

.custom-input {
    margin: 10px 0px 10px 0px;
    width: 100%
}

.mt-3 {
    width: 100%
}

.head{    
    padding: 0.5em;
    align-items: center;
    justify-content: center
}
.content{
    color: #000;
    font-size: 0.9em
}

.btns{
    display: flex;
    justify-content: flex-end
}
ul#javax_faces_developmentstage_messages{
    width: 0;
    visibility: hidden
}
.btn{
    margin-top: 1em;
    margin-left: 1em;
    width: 6em;
    height: 3em;
    background: #F44B2A
}
span.ui-button-text.ui-c{
    text-decoration: none
}
